
#Options -Indexes
#<IfModule mod_rewrite.c>
  RewriteEngine on
  #RewriteBase /web
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteCond %{REQUEST_URI} !=/favicon.ico
  #RewriteRule ^ web/index.php [L]
#</IfModule>
#RewriteCond %{HTTP_HOST} ^/localhost/yazzle$
RewriteCond %{REQUEST_URI} !^/yazzle/web/
RewriteCond /domain/%{REQUEST_URI} -d
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /web/$1/

#RewriteCond %{HTTP_HOST} ^/localhost/yazzle$
RewriteCond %{REQUEST_URI} !^/yazzle/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /web/$1

#RewriteCond %{HTTP_HOST} ^/localhost/yazzle$
RewriteRule ^(/)?$ /yazzle/web/index.php [L]
